[submodule "userspace/3rdparty/matplotlib-cpp"]
	path = userspace/3rdparty/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
[submodule "userspace/3rdparty/SyclParallelSTL"]
	path = userspace/3rdparty/SyclParallelSTL
	url = https://github.com/fxzjshm/SyclParallelSTL
[submodule "userspace/3rdparty/concurrentqueue"]
	path = userspace/3rdparty/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "userspace/3rdparty/SyclCPLX"]
	path = userspace/3rdparty/SyclCPLX
	url = https://github.com/fxzjshm/SyclCPLX
[submodule "userspace/3rdparty/cnpy"]
	path = userspace/3rdparty/cnpy
	url = https://github.com/rogersce/cnpy
[submodule "userspace/3rdparty/VkFFT"]
	path = userspace/3rdparty/VkFFT
	url = https://github.com/DTolm/VkFFT
