[submodule "userspace/3rdparty/matplotlib-cpp"]
	path = userspace/3rdparty/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
[submodule "userspace/3rdparty/SyclParallelSTL"]
	path = userspace/3rdparty/SyclParallelSTL
	url = https://github.com/fxzjshm/SyclParallelSTL
[submodule "userspace/3rdparty/concurrentqueue"]
	path = userspace/3rdparty/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
